<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gome.gomeaccountservice"
    android:versionCode="1"
    android:versionName="1.0" >
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />  
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />  
    <uses-permission android:name="android.permission.RECEIVE_SMS" />  
	<uses-permission android:name="android.permission.READ_SMS" /> 
	<uses-permission android:name="android.permission.USE_FINGERPRINT" />

    <protected-broadcast android:name="com.gome.gomeaccountservice.ACTION_GOME_ACCOUNT_LOGIN" />
    <protected-broadcast android:name="com.gome.gomeaccountservice.ACTION_GOME_ACCOUNT_UPDATE_INFO" />
    <protected-broadcast android:name="com.gome.gomeaccountservice.ACTION_GOME_ACCOUNT_LOGOUT" />

    <uses-sdk
        android:minSdkVersion="23"
        android:targetSdkVersion="26" 
        />
    <application
        android:taskAffinity="com.gome.gomeaccountservice" 
        android:persistent="true"
        android:allowBackup="false"
        android:windowSoftInputMode="stateHidden"
        android:icon="@drawable/gome_sys_icon_head"
        android:label="@string/app_name"
        android:theme="@style/gomeAccountThemes" >
        
        <service
            android:name=".AuthenticationService"
            android:exported="true">
            <intent-filter>
                <action
                    android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>
            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:excludeFromRecents="true"
            android:configChanges="orientation"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:exported="true"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.action.LoginActivity" />
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <!--  <category android:name="android.intent.category.LAUNCHER" /> -->
        <activity
			android:name="com.sina.weibo.sdk.component.WeiboSdkBrowser"
			android:configChanges="keyboardHidden|orientation"
			android:exported="false" 
			android:screenOrientation="portrait"
			>
		</activity>
	    <activity
            android:name=".BindPhoneActivity"
            android:label="@string/register_activity_title"
            android:excludeFromRecents="true"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:configChanges="orientation"
            android:exported="true"
            android:screenOrientation="portrait"
            >
        </activity>

        <activity
            android:name=".RegisterActivity"
            android:label="@string/register_activity_title"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:excludeFromRecents="true"
            android:configChanges="orientation"
            android:exported="true"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity
            android:name=".RetrievePwdActivity"
            android:label="@string/ui_activity_title_retrieve_pwd"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:excludeFromRecents="true"
            android:configChanges="orientation"
            android:exported="true"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity
            android:name=".UserAgreementActivity"
            android:label="@string/txt_login_bottom_user_agreement"
            android:excludeFromRecents="true"
            android:configChanges="orientation"
            android:exported="true"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity
            android:name=".PrivacyPolicyActivity"
            android:label="@string/txt_login_bottom_user_agreement"
            android:excludeFromRecents="true"
            android:configChanges="orientation"
            android:exported="true"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity
            android:name=".AccountInfoActivity"
            android:label="@string/ui_activity_title_account"
            android:excludeFromRecents="true"
            android:configChanges="orientation"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|adjustResize|stateHidden"
            android:theme="@style/gomeAccountAccountInfoThemes"
            >
        </activity>
        <activity
            android:name=".PersonalInfoActivity"
            android:label="@string/ui_activity_title_account"
            android:excludeFromRecents="true"
            android:configChanges="orientation"
            android:exported="true"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity
            android:name=".BindOrUnbindActivity"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:label="@string/ui_activity_title_bind_unbind"
            android:excludeFromRecents="true"
            android:configChanges="orientation"
            android:exported="true"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity
            android:name=".PasswordSecurityActivity"
            android:label="@string/ui_activity_title_bind_unbind"
            android:excludeFromRecents="true"
            android:configChanges="orientation"
            android:exported="true"
            android:screenOrientation="portrait"
            >
        </activity> 
        <activity android:name=".wxapi.WXEntryActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"  
            android:exported="true"/>
        <!--统一的核对账户密码的界面 -->
        <activity
            android:name=".CheckPasswordActivity"
            android:excludeFromRecents="true"
            android:configChanges="orientation"
            android:exported="true"
            android:screenOrientation="portrait"
            >
        </activity>
        <!--统一的核对绑定手机号的页面，验证码验证 -->
        <activity
            android:name=".CheckPhoneActivity"
            android:excludeFromRecents="true"
            android:configChanges="orientation"
            android:exported="true"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity
            android:name=".CheckEmailActiveActivity"
            android:excludeFromRecents="true"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            >
        </activity>
    <!-- modified-begin by zhiqiang.dong@gometech.com PRODUCTION-9982 -->
    <provider
        android:name="android.support.v4.content.FileProvider"
        android:authorities="com.gome.gomeaccountservice.fileprovider"
        android:exported="false"
        android:grantUriPermissions="true">
        <meta-data
            android:name="android.support.FILE_PROVIDER_PATHS"
            android:resource="@xml/file_paths" />
    </provider>
    <!-- modified-end -->
    </application>

</manifest>
